@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}
body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background-color: antiquewhite;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
header {
	width: 100%;
}
.header-inner {
	height: 60px;
	background-color: gainsboro;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
}

.header-nav {
	width: 85%;
	font-size: large;
}

.header-title {
	width: 15%;
	font-size: 30px;
	margin-left: 30px;
	font-weight: bold;
}

.header-nav-list {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	flex-wrap: wrap;
	text-align: center;
}

.header-nav-item {
	margin-left:30px;
	text-align: center;
}
.header-nav-item-link span{
	color: #333;
}
.header-nav-item-search {
	display: flex;
	margin-left: 20px;
}

.header-nav-item a {
	text-decoration: none;
	color: darkgray;
}
.header-nav-item-link form input::placeholder {
	font-size: 15px;
	padding-left: 10px;
	display: flex;
	align-items: center;
} 
button {
	font-size: 20px;
	margin-left: 2px;
}
#movie {
	display: flex;
	font-size: 20px;
}
.contents {
	background-color: antiquewhite;
}
.slider {
	width: 100%;
	display: flex;
}
.slider li{
	width: 50%;
}
.slider img{
	height: 100%;
	width: 100%;
}
.main-contents {
	margin: 0 20% 0 20%;
	text-align: center;
}
.main-contents h1{
	font-size: 30px;
}
.message-point h2{
	font-size: 20px;
	background-color: rgb(241, 177, 161);
}
.message {
	padding-bottom: 40px;
}
.message-point li {
	margin-bottom: 10px;
	font-size: 15px;
}

.service {
	padding-bottom: 40px;
}

.dishes {
	padding-bottom: 50px;
	padding-left: 30px;
	opacity: 0;
	transition: all 2s;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.dishes-message {
	display: flex;
}

.dishes-message img {
	width: 50%;
	height: 100%;
	margin-right: 40px;
}

.dishes-message p {
	margin-top:20px;
}

.address {
	display: flex;
	background-color: black;
	color: white;
	justify-content: space-between;
	opacity: 0;
	transition: all 2s;
}
.address h3 {
	padding-top: 40px;
	padding-left: 30px;
}
.address ul {
	padding-left: 10px;
}
.address li {
	margin-bottom: 10px;
}
.large {
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
}
.address img {
	width: 50%;
	height: 50%;
}
.shops {
	width: 100%;
	opacity: 0;
	transition: all 2s;
}
.shops h2 {
	font-size: 30px;
	margin: 20px 0 20px 0;
	text-align: center;
}
.shopspic {
	display: flex;
	padding-bottom: 40px;
	flex-wrap: wrap;
}
.shop img {
	width:150px;
	height: 150px;
	border-radius: 100%;
	margin: 0 80px 0 10px;
}
.fa-solid fa-location-dot {
	font-size: 50px;
}
.fadeIn {
	opacity: 1;
}
footer {
	height: 100px;
	width: 100%;
	background-color: darkgray;
	text-align: center;
}

footer ul {
	display: flex;
	justify-content: center;
	padding: 30px ;
}

footer li {
	margin-left: 30px;
}

.sm-nav{
	display: none;
}

@media screen and (max-width:540px) {
	.header-nav {
		display: none;
	}
	body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
	}
	
	body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
	}
	
	.header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 10px;
		background-color: gainsboro;
		color: black;
	}
	
	.header-title {
		margin: 0;
	}
	
	.header-nav {
		display: none;
	}
	
	.header-nav-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
	}
	
	.header-nav-item {
		margin-left: 20px;
	}
	
	.header-nav-item-link,
	header-nav-item form,
	header-nav-item button {
		color: black;
		text-decoration: none;
		background: none;
		border: none;
		cursor: pointer;
	}
	.burger-border{
		border: ridge;
		border-color: rgba(169, 169, 169, 0.408);
		height: 58px;
		width: 70px;
		position: relative;
	}
	.burger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 21px;
		cursor: pointer;
		position: absolute;
		top: 31%;
		left: 31%;
	}
	
	.burger span {
		display: block;
		height: 3px;
		background: rgb(141, 141, 141);
		border-radius: 3px;
	}
	.header-nav {
		display: none;
		position: absolute;
		top: 50px;
		right: 0;
		background-color: gainsboro;
		width: 100%;
	}
	.header-nav.active {
		display: block;
	}
	.header-nav-list {
		flex-direction: column;
	}
	.header-nav-item{
		text-align: center;
		padding: 10px 0;
	}
	.header-nav-item a{
		color: darkgray;
	}
	.header-nav-item-link span{
		color: #333;
	}
	.header-nav-item-search {
		display: flex;
		padding: 10px 0;
		margin-left: 20px;
	}
	.slider-1 {
		display: none;
	}
	.slider {
		width: 94%;
		margin: 0 auto;
	}
	.slider img {
		width:100%;
		height:100%;
	}
	
	.slider .slick-slide {
		margin:0 10px;
	}
	
	.slick-prev, 
	.slick-next {
		position: absolute;
		top: 42%;
		cursor: pointer;
		outline: none;
		border-top: 2px solid #666;
		border-right: 2px solid #666;
		height: 15px;
		width: 15px;
	}
	
	.slick-prev {
		left: -1.5%;
		transform: rotate(-135deg);
	}
	
	.slick-next {
		right: -1.5%;
		transform: rotate(45deg);
	}
	
	.slick-dots {
		text-align:center;
	  margin:20px 0 0 0;
	}
	
	.slick-dots li {
		display:inline-block;
	  margin:0 5px;
	}
	
	.slick-dots button {
		color: transparent;
		outline: none;
		width:8px;
		height:8px;
		display:block;
		border-radius:50%;
		background:#ccc;
	}
	
	.slick-dots .slick-active button{
		background:#333;
	}
	
	
	/*========= レイアウトのためのCSS ===============*/
	
	body{
	  background:#eee;
	}
	ul{
	  margin:0;
	  padding: 0;
	  list-style: none;
	}
	
	a:hover,
	a:active{
	  text-decoration: none;
	}
	
	.main-contents {
		margin: 0 20% 0 20%;
		text-align: center;
	}
	.main-contents h1{
		font-size: 30px;
	}
	.message-point h2{
		font-size: 20px;
		background-color: rgb(241, 177, 161);
	}
	.message-point li{
		margin-top: 20px;
	}
	.message {
		padding-bottom: 40px;
	}
	.dishes-message p{
		margin-top: 20px;
	}

	.message-point li {
		margin-bottom: 10px;
		font-size: 15px;
	}
	
	.service {
		padding-bottom: 40px;
	}
	
	.dishes {
		padding-bottom: 50px;
		padding-left: 30px;
		opacity: 0;
		transition: all 2s;
	}
	
	h3 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	
	.dishes-message {
		display: flex;
		flex-direction: column;
	}
	
	.dishes-message img {
		width: 100%;
		height: 100%;
	}

	.address {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		background-color: black;
		color: white;
		opacity: 0;
		transition: all 2s;
	}
	.address h3 {
		padding-top: 10px;
		padding-left: 10px;
	}
	.address ul {
		padding-left: 10px;
	}
	.address li {
		margin-bottom: 10px;
	}
	.large {
		font-size: 15px;
		font-weight: bold;
		padding-left: 10px;
	}
	.address img {
		width: 100%;
		height: 100%;
	}
	.shops {
		display: none;
	}
	.fa-solid fa-location-dot {
		font-size: 50px;
	}
	.fadeIn {
		opacity: 1;
	}
	footer {
		height: 100px;
		width: 100%;
		background-color: darkgray;
		text-align: center;
	}
	
	footer ul {
		display: flex;
		justify-content: center;
		padding: 30px ;
	}
	
	footer li {
		margin-left: 30px;
	}
	
	.sm-nav{
		display: none;
	}
}